<% if (locals.errors) {%>
    <% errors.forEach((err)=> {%>
        <div class="alert alert-danger">
                <%= err.msg%>
        </div>
    <%})%>

<%}%>


<% if (locals.message && message !="") {%>
         
    <div class="alert alert-primary">
            <%= message%>
    </div>
  <%}%>     
      

  <% if (locals.error && error !="") {%>
         
    <div class="alert alert-danger">
            <%= error%>
    </div>
  <%}%>     
      
  <% if (locals.primary && primary !="") {%>
         
    <div class="alert alert-primary">
            <%= primary%>
    </div>
  <%}%>   